@media only screen and (max-width: 768px) {
  .modal-video {
    background-color: rgba(0, 0, 0, 0.89);
    cursor: default;
  }

  .modal-video-close-btn {
    cursor: pointer;
  }

  .modal-video-body {
    max-width: 70%;
  }

  .hype-video-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    .hype-video-container {
      position: fixed;
      z-index: -1;
      .hype-video {
        height: 100vh;
      }
    }

    .play-full-video-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100vw;
      height: 100vh;

      .play-wrapper {
        div {
          display: none;
        }
        opacity: 0.5;
        font-size: 3em;
        display: flex;
        align-items: center;
        z-index: 4;
        transition: 0.2s ease-in-out;
        padding: 0px;
        color: white;
        text-decoration: none;
        cursor: pointer;
        &:hover {
          color: $primaryColor;
        }
      }
    }
    .schedule-tour-wrapper {
      .schedule-tour-button {
        font-size: 1.5em;
        height: auto;
        margin-bottom: 45px;
      }
      div {
        height: 50px;
      }
    }
  }
}
