.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  .scrolling-pictures {
    background-color: red;
  }
  .home-page-quote {
    width: 40%;
    font-size: 1.8em;
    font-style: italic;
    line-height: 1.5em;
  }
  .schedule-a-tour-container {
    border-color: blue;
  }
}
