@media only screen and (max-width: 768px) {
  //
  .bmb-app-container {
    width: 90vw;
    .four-programs-container {
      margin-top: 50px;

      .section-title {
        text-align: center;
        font-size: 2.6rem;
      }
      .four-programs-wrapper {
        width: 80vw;
        .program-option {
          width: 80vw;
        }
      }
    }
  }
}
