@import "~react-image-gallery/styles/scss/image-gallery.scss";
.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .tour-video-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    video {
      object-fit: cover;
      width: 100vw;
      height: calc(100vh - 112px);
      margin-top: 112px;
    }
  }

  .gallery-container {
    display: flex;
    .scrolling-item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100vw;
      height: calc(100vh - 100px);
      //   img {
      //     object-fit: contain;
      //     width: 100vw;
      //     height: 100vh;
      //   }
    }
  }
  .content {
    // background-color: rgba(0, 0, 0, 0.61);
    // color: #fff;
    height: auto;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 30px 0;
  }

  .facility-container {
    // background-color: rgba(0, 0, 0, 0.61);
    // color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 1.2em;

    .facility-content-container {
      height: 100vh;
      width: 70%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      line-height: 30px;
      font-size: 1.3em;

      .facility-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h1 {
          height: 40px;
          font-size: 1.4em;
        }
      }

      .mission {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h1 {
          height: 40px;
          font-size: 1.4em;
        }
      }

      .info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h1 {
          height: 40px;
          font-size: 1.4em;
        }
      }
    }
  }
}
