@import "~react-image-gallery/styles/scss/image-gallery.scss";
.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  .tour-video-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    video {
      object-fit: none;
      width: 100%;
      height: calc(85vh);
      margin-top: 125px;
    }
  }

  .gallery-container {
    display: flex;
    .scrolling-item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100vw;
      height: calc(100vh - 100px);
      //   img {
      //     object-fit: contain;
      //     width: 100vw;
      //     height: 100vh;
      //   }
    }
  }
}
