.memberships-container {
  display: flex;
  background-image: url("https://static.wixstatic.com/media/6f02ec_b10f3b7375404595843e149a976d5bad~mv2.jpg/v1/fill/w_845,h_1080,al_c,q_85/6f02ec_b10f3b7375404595843e149a976d5bad~mv2.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -10% 40%;
  min-height: 100vh;
  .img-container {
    display: flex;
    justify-content: center;
    .memberships-img {
      display: flex;
      justify-content: center;
      flex-direction: column;

      .header-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60vw;
      }

      .memberships-img-header {
        text-shadow: 2px 2px 40px #000000;
        width: 900px;
        text-align: center;
        font-size: 7em;
        color: #fff;
        font-weight: bolder;
        @include no-select();
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      // .header1 {
      //   margin-top: 30vh;
      // }
    }
  }
  .memberships-info-container {
    width: 40vw;
    // height: 100vh;
    background-color: rgba(0, 0, 0, 0.61);
    backdrop-filter: blur(70px);
    transition: 0.4s ease-in-out;
    @include no-select();

    .info-all {
      padding: 0px 50px;
      color: #fff;
      margin-top: 30px;
    }

    .sec1 {
      margin-top: 30px;
      height: auto;
      font-weight: bold;
      font-size: 20px;
    }

    .sec2 {
      font-size: 30px;
      font-weight: bolder;
    }

    .sec3 {
      padding-left: 120px;
      list-style-type: circle;
      font-size: 25px;
    }

    .sec4 {
      h1 {
        font-size: 30px;
      }
      p {
        margin-top: 20px;
        font-size: 20px;
      }
      .bold {
        font-size: 40px;
        font-weight: 900;
      }
    }
  }
}
