.footer-container {
  color: white;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    342deg,
    rgba(0, 0, 0, 1) 20%,
    rgba(61, 155, 224, 1) 80%
  );
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 25px;

  .footer-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    a {
      text-decoration: none;
      color: #fff;
      &:hover {
        color: black;
      }
    }

    h4 {
      margin: 15px 0px;
    }

    .footer-form {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      border-radius: 5px;
      font-family: "Raleway", sans-serif;

      ::-webkit-input-placeholder {
        color: rgb(146, 146, 146);
        font-family: "Raleway", sans-serif;
        font-size: 15px;
        font-weight: bold;
      }
      ::-moz-placeholder {
        color: rgb(146, 146, 146);
        font-family: "Raleway", sans-serif;
        font-size: 15px;
        font-weight: bold;
      }
      :-ms-input-placeholder {
        color: rgb(146, 146, 146);
        font-family: "Raleway", sans-serif;
        font-size: 15px;
        font-weight: bold;
      }
      ::placeholder {
        color: rgb(146, 146, 146);
        font-family: "Raleway", sans-serif;
        font-size: 15px;
        font-weight: bold;
      }

      .input-style {
        outline: none;

        &:focus {
          outline: none;
        }
      }

      input {
        height: 40px;
        width: 250px;
        border: none;
        border-radius: 3px;
        padding: 0 15px;
      }

      textarea {
        width: 250px;
        border: none;
        border-radius: 3px;
        padding: 5px 15px;
        resize: none;
        font-family: "Raleway", sans-serif;
        font-weight: bold;
      }

      .footer-message {
        height: 120px;
      }

      .footer-button {
        // height: 20px;
        width: 150px;
        // border: none;
        border-radius: 3px;
        padding: 5px 15px;
        font-family: Arial, Helvetica, sans-serif;
      }
    }
  }

  .footer-copyright {
    padding: 10px;

    p {
      font-size: 10px;
    }
  }
}

@media screen and (max-width: 500px) {
  .footer-container {
    height: 500px;
  }

  .footer-wrapper {
    flex-direction: column;
  }
}
