@import "./variables.scss";

.header-wrapper {
  .heading-wrapper {
    display: flex;
    justify-content: center;
    width: 100vw;
    background-color: $primaryColor;
    margin-top: 14px;
    .heading {
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }

  .nav-bar-wrapper {
    width: 100%;
    min-width: 715px;
    display: flex;
    justify-content: center;

    .nav-bar {
      height: 125px;
      width: 80vw;
      display: flex;
      justify-content: center;

      .nav-bar-logo-wrapper {
        width: 10vw;
        min-width: 125px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 20px;

        .nav-bar-logo {
          display: flex;
          justify-content: center;
          height: 60%;
        }

        .nav-bar-logo-heading-wrapper {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          .nav-bar-logo-heading {
            font-size: 13px;
            font-weight: lighter;
          }
        }
      }

      .nav-bar-buttons-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80vw;
        padding-right: 80px;
        padding-left: 80px;
        transition: 0.4 s ease-in-out;

        .nav-bar-button {
          font-size: 1.2em;
          border: none;
          outline: none;
          background: none;
          transition: 0.3s ease-in-out;
          padding: 10px 20px;
          height: 50px;

          &:hover {
            background-color: #aaaaaa;
          }
        }

        .active {
          background-color: $primaryColor;
          color: #fff;
        }
      }

      .nav-bar-social-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 10vw;
        min-width: 75px;
        padding-right: 20px;
      }
    }
  }
}
