@import "./variables.scss";
@import "./mixins.scss";
@import "node_modules/react-modal-video/scss/modal-video.scss";

@import "./app.scss";

@import "../../components/nav/navbar.scss";
@import "../../components/footer/footer.scss";
@import "./modal.scss";
@import "./footerform.scss";
@import "./form.scss";
@import "../../components/nav/navbar-q.scss";
// @import "../../components/footer/footer-q.scss";
// @import "./modal-q.scss";
// @import "./footerform-q.scss";
// @import "./form-q.scss";

@import "../../views/pages/Home/home.scss";
@import "../../views/pages/Home/hype-video.scss";
@import "src/views/pages/Home/home-q.scss";
@import "src/views/pages/Home/hype-video-q.scss";

@import "../../views/pages/Coaches/coaches.scss";
@import "../../views/pages/Coaches/coach.scss";
// @import "../../views/pages/Coaches/coaches-q.scss";
// @import "../../views/pages/Coaches/coach-q.scss";

@import "../../views/pages/BmbApp/bmb-app.scss";
@import "../../views/pages/BmbApp/bmb-app-q.scss";
@import "../../views/pages/BmbApp/IPhoneShots/IPhoneShots.scss";
@import "../../views/pages/BmbApp/IPhoneShots/IPhoneShots-q.scss";

@import "../../views/pages/About/about.scss";
@import "../../views/pages/About/about-q.scss";

@import "../../views/pages/Services/services.scss";
@import "../../views/pages/Services/services-q.scss";

@import "../../views/pages/Memberships/memberships.scss";
@import "../../views/pages/Memberships/memberships-q.scss";

.pages-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.App {
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;

  body {
    font-family: $all-text-font;
  }
}
