.memberships-container {
  display: flex;
  background-image: url("https://static.wixstatic.com/media/6f02ec_b10f3b7375404595843e149a976d5bad~mv2.jpg/v1/fill/w_845,h_1080,al_c,q_85/6f02ec_b10f3b7375404595843e149a976d5bad~mv2.webp");
  background-repeat: no-repeat;
  background-size: cover;
  height: 150vh;
  .img-container {
    .memberships-img {
      display: flex;
      justify-content: center;

      .header-wrapper {
        display: flex;
        flex-direction: column;
        width: 60vw;
      }

      .memberships-img-header {
        width: 500px;
        text-align: center;
        font-size: 7em;
        color: #fff;
        font-weight: bolder;
        width: inherit;
      }

      .header1 {
        margin-top: 100px;
      }
    }
  }
  .memberships-info-container {
    width: 40vw;
    height: 150vh;
    background-color: gray;

    .info {
      height: 20vh;
    }
  }
}
