.modal-root {
	z-index: 9999;
	height: 100vh;
	width: 100vw;
	background: rgba(0, 0, 0, 0.6);
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: space-around;

	.modal-paper {
		height: 60%;
		width: 70%;
		background: linear-gradient(
    342deg,
    rgba(0, 0, 0, 1) 20%,
    rgba(61, 155, 224, 1) 80%
  	);
		padding: 30px 50px;
		border-radius: 5px;

		.modal-header {
			color: white;
			margin-bottom: 25px;
		}

		.modal-body {
			height: 80%;
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-around;
		}
	}
}

@media only screen and (max-width: 768px) {
	.modal-root {
		
		.modal-paper {
			height: 70%;
			width: 90%;
			padding: 10px 10px;
		}
	}
}
