@media only screen and (max-width: 768px) {
  .nav-bar-container {
    height:225px;
    .nav-bar-wrapper {
      position: relative;
      .nav-bar {
        flex-direction: column;
        align-items: center;
        height: auto;
        .nav-bar-logo-wrapper {
          .nav-bar-logo {
            height: 100px;
          }

          .nav-bar-logo-heading-wrapper {
            .nav-bar-logo-heading {
              font-size: 13px;
            }
          }
        }

        .nav-bar-buttons-wrapper {
          order: 3;
          justify-content: center;
          .nav-bar-button {
            font-size: 0.8em;
            height: 0px;
            padding: 15px 5px;

            &:hover {
              border-bottom-left-radius: 0px;
              border-bottom-right-radius: 0px;
            }
          }

          .nav-bar-button-invisible {
            font-size: 0.8em;
            height: 0px;
            padding: 15px 5px;
          }

          .nav-bar-button-active {
            background-color: $primaryColor;
            color: #fff;

            &:hover {
              background-color: $primaryColor;
            }
          }
          .nav-bar-button-invisible-active {
            color: $primaryColor;
          }
        }

        .nav-bar-social-wrapper {
          order: 2;
          margin: 20px;
          width: 150px;

          .icon-wrapper {
            width: calc(100% / 3);
            height: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: black;
            &:hover {
              font-size: 1.3em;
              // transform: rotate(20deg);
              color: $primaryColor;
            }
            .icon {
              font-size: 1.2em;
              transition: 0.2s ease-in-out;
            }
          }
          .icon-wrapper-invisible {
            width: auto;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;

            &:hover {
              font-size: 1.3em;
              // transform: rotate(20deg);
              color: $primaryColor;
            }
            .icon {
              font-size: 1.2em;
              transition: 0.2s ease-in-out;
            }
          }
        }
      }
    }
  }
}
